CONFIG_BOOTDELAY=1
CONFIG_SYSRESET=y
CONFIG_SYSRESET_TI_SCI=y
CONFIG_SPL_ARM_PSCI_FW=y
CONFIG_SCMI_FIRMWARE=y
CONFIG_SCMI_AGENT_MAILBOX=y
CONFIG_SCMI_AGENT_SMCCC=y
CONFIG_DM_REBOOT_MODE=y
CONFIG_DM_REBOOT_MODE_GPIO=y
CONFIG_RESET_SYSCON=y
CONFIG_POWEROFF_GPIO=y
CONFIG_SYSRESET_GPIO=y
CONFIG_SYSRESET_PSCI=y
CONFIG_SYSRESET_RESETCTL=y
